# Clases compiladas
*.class
out/
bin/
target/

# IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
nbproject/

# Librerías externas
lib/
*.jar
*.war

# Variables sensibles
.env
secrets.json
config.json

# Sistema operativo
.DS_Store
Thumbs.db